/* Typographi */

p {
    max-width: 600px;
}

h2, h3 {
    color: #021f03;
}

/* Page structure */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #021f03;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; 
    width: auto;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.article-onwards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Sørger for, at det fylder hele bredden */
    box-sizing: border-box; /* Inkluderer padding og border i bredden */
}

.article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Sørger for, at det fylder hele bredden */
    box-sizing: border-box; /* Inkluderer padding og border i bredden */
}

article {
    padding: 1em;
    width: 90%;
    border: 1px solid black;
}

article img {
    max-width: 100%;
    height: auto;
}

section {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

section h2 {
    color: #021f03;
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    max-width: 800px; /* Juster bredden efter behov */
    margin: 0 auto 20px auto;
    line-height: 1.6;
}

/* logo */

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 60px; /* Juster efter behov */
}

/* Navigation */

nav {
    margin-top: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-list li a:hover,
.nav-list li a.active {
    background-color: white;
    color: #021f03;
}

/* Form */ 


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

form label {
    font-weight: bold;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}



/* CTA */

.cta-button {
    background-color: #021f03;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: white;
    border: 1px solid;
    border-color: #021f03;
    color: #021f03;
}

/* Footer */

.footer {
    background: #021f03;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    height: auto;
    width: auto;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    max-width: 1200px; 
    padding: 0 20px;
}

.footer-logo {
    height: 50px;
    margin: 10%;
}

.footer-trust {
    margin-top: 20px;
    margin: 10%;
}

.trust-image {
    height: 40px; /* Juster højden efter behov */
}

/* Responsivnes */ 

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .nav-list {
       font-size: 14px; /* Juster denne størrelse efter behov */
       padding: 5px 8px; /* Tilpas padding for bedre justering */
   }

    .team-member {
        flex-direction: column; /* Ændrer retningen til kolonne */
        align-items: center; /* Centrerer indholdet */
    }

    .article-onwards{
        flex-direction: column; /* Ændrer retningen til kolonne */
        align-items: center; /* Centrerer indholdet */
    }

    .image-container {
        width: 100%; /* Gør billedet bredt */
    }

    .text-container {
        width: 100%; /* Gør teksten bredt */
        padding: 10px 0; /* Tilføjer lidt afstand omkring teksten */
        margin-left: 0; /* Fjerner venstre margin */
    }
}


/* media */

video {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.bredt-billede {
    width: 100%;
    max-width: 800px;
    height: auto;
}

/* Om os  styling*/

.team-member {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.image-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.image-container img {
    width: 100%;
    border-radius: 50%;
}

.text-container {
    width: 70%;
    padding-left: 20px;
}

.team-member h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #021f03;
    margin: 5px 0;
    text-align: left;
}

.team-member ul {
    list-style-type: circle;
    color: #021f03;
    padding: 5px;
}

.team-member ul li {
    margin: px 0;
    text-align: left;
}

/* Events styling */ 

.events-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.event {
    border: 2px solid #021f03;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
}

.event-date {
    background-color: #021f03;
    color: white;
    padding: 10px;
    width: 30%;
    text-align: center;
}

.event-info {
    padding: 10px;
    width: 70%;
}

.event h3 {
    margin: 5px 0;
}

.event p {
    margin: 5px 0;
}
